# URL de la API
URL_EDYOF_PLATFORM_API=http://localhost:3001
PREFIX_EDYOF_PLATFORM_API=/api/v1

# NextAuth.js - Esta URL debe apuntar a tu aplicación Next.js (puerto 3000), NO a tu API
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=07a4175114ce3d58646a5aab39c04c56

# Configuración para Docker Compose
DB_PASSWORD=admin123
DB_NAME=jeema_store_platform_db
DB_HOST=localhost
DB_PORT=5430
DB_USER=edyof_user

# Conexión a la base de datos
DATABASE_URL=postgresql://postgres:admin123@localhost:5432/jeema_store_platform_db
JWT_SECRET=07a4175114ce3d58646a5aab39c04c56

# Entorno en el que el proyecto trabaja
NODE_ENV=development 