@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme{
  --magic-color-primary: #b8d43f;
  --magic-color-secondary: #5ea7e9;
  --magic-color-warning: #f2ee4c;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #000000;
  }
}

body {
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Configuracion CSS para imprimir los codigos de barra */
/* Oculta todo lo que no sea el contenido de impresión */
@media print {
  @page {
    size: 88mm auto; /* Establece el ancho a 88mm y la altura automática */
    margin: 0;       /* Elimina los márgenes predeterminados de la impresora */
  }

  body * {
    visibility: hidden;
  }

  .printable-content, .printable-content * {
    visibility: visible;
  }

  .printable-content {
    position: absolute;
    left: 0;
    top: 0;
    width: 88mm;
  }
}

